# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/web-hybrid-wk1.iml
/modules.xml
/git_toolbox_prj.xml
/aws.xml
